statemachine/statemachineMap.asl.json
{
    "Comment": "A state machine that does mock stock trading.",
    "StartAt": "Check Stock Value",
    "States": {
        "Check Stock Value": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:SplitCotacoes",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "ProcessTasksMappedTask"
        },
        "ProcessTasksMappedTask":
        {
            "Type": "Map",
            "InputPath": "$",
            "ItemsPath": "$",
            "ResultPath": "$",
            "MaxConcurrency": 5,
            "Iterator":{
                "StartAt": "ProcessTaskStep",
                "States":{ 
                    "ProcessTaskStep":{
                        "Type": "Task",
                        "Resource": "arn:aws:lambda:us-east-1:123456789012:function:MapCalculaIndicadores",
                        "End": true
                    }
                }
            },
            "Next":"ReduceIndicadores"
        },
        "ReduceIndicadores": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ReduceIndicadores",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 15,
                    "MaxAttempts": 5,
                    "BackoffRate": 1.5
                }
            ],
            "End": true
        }

    }
}